.login_text
{
    transition-duration: 0.2s;
    width: 200px;
    height: 25px;
    background: none;
    box-sizing: border-box;
    border: 3px solid;
    border-color: #e92cb9;
    border-radius: 10px;
    color: rgb(30, 184, 211);
    text-indent: 10px;
    position: relative;
    margin: 8px;
}

.login_text:focus
{
    font-size: large;
    width: 280px;
    height: 35px;
    font-size: 25px;
}

input[class="btn-success"]{
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
    background-color:black;
    color: #e92cb9;
    border: 2px solid #e92cb9;
    border-radius: 10px;
    width: 100px;
    margin: 5px;
}

input[class="btn-success"]:hover{
    background-color: black; 
    color: #2980b9;
}

table[class="box"]{
    height: 100px;
    border: 1px;
    margin: auto;
}