{% extends 'index.html' %}

{% load static %}

{% block page_header %}
<header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create Posts</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock page_header %}


{% block main_content %}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.css">
    <script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>
    <script src="{% static 'write_article/js/write_article.js' %}"></script>

    <form action="" enctype="multipart/form-data" method="post">
        {% csrf_token %}

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">username</span>
                </div>
                {{ form.username }}
                <script>$("#id_username").val("{{ user.username }}")</script>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">title</span>
                </div>
                {{ form.title }}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">subtitle</span>
                </div>
                {{ form.subtitle }}
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">Header image</span>
            </div>
            <div class="custom-file">
                {{ form.image }}
                <label class="custom-file-label" for="inputGroupFile02">Choose file</label>
            </div>
        </div>

        <hr>
        <div class="form-group">
            <textarea id="content" class='test'></textarea>
            {{ form.content }}
        </div>
        <hr>
        <input class="btn btn-primary float-right" type="submit" value="Submit &rarr;">
    </form>
{% endblock main_content %}