{% extends 'index.html' %}

{% load static %}

{% block page_header %}
<header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="site-heading">
                    <h1>Create Posts</h1>
                    <span class="subheading">A Blog Theme by Start Bootstrap</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock page_header %}


{% block main_content %}

<div class="post-preview">
    <form action="" method="post">
        {% csrf_token %}
        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">1</span>
                </div>
                <input type="text" class="form-control" placeholder="Title" aria-label="Username"
                    aria-describedby="addon-wrapping" name="title" required>
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group flex-nowrap">
                <div class="input-group-prepend">
                    <span class="input-group-text">2</span>
                </div>
                <input type="text" class="form-control" placeholder="Subtitle" aria-label="Username"
                    aria-describedby="addon-wrapping" name="subtitle">
            </div>
        </div>

        <div class="input-group mb-3">
            <div class="input-group-prepend">
                <span class="input-group-text" id="inputGroupFileAddon01">3</span>
            </div>
            <div class="custom-file">
                <input type="file" class="custom-file-input" id="inputGroupFile02"/>
                <label class="custom-file-label" for="inputGroupFile02">Header Image</label>
            </div>
            <script>
                $('#inputGroupFile02').on('change',function(){
                    var fileName = $(this).val();
                    edit = fileName.split('\\')
                    $(this).next('.custom-file-label').html(edit[edit.length - 1]);
                })
            </script>
        </div>

        <hr>
        <div class="form-group">
            <textarea id="content" class='test'></textarea>
            <textarea id="save" hidden name="content" required></textarea>
        </div>
        <hr>
        <input class="btn btn-primary float-right" type="submit" value="Submit &rarr;">
    </form>
</div>
<script>
    var toolbar_br = {
        name: "br",
        title: "New line",
        className: "fa fa-level-down fa-rotate-90",
        action: function(editor) {
            var cm = editor.codemirror;
			cm.replaceSelection("<br>");
        }
    };
    var simplemde = new SimpleMDE({
        element: document.getElementById("content"),
        placeholder: "Type your content here...",
        spellChecker: false,
        status: false,
        tabSize: 4,
        // autosave: {
        //     enabled: true,
        //     uniqueId: "MyUniqueID",
        //     delay: 1000,
        // },
        toolbar: [
            "heading", "bold", "italic", "strikethrough", "|",
            toolbar_br, "code", "table", "horizontal-rule", "|",
            "ordered-list", "unordered-list", "quote", "|",
            "link", "image",  "|",
            "preview", "guide"
        ],
    });
    simplemde.codemirror.on("change", function(){
        document.getElementById('save').value = simplemde.value();
    });
</script>
{% endblock main_content %}