{% extends "index.html" %}

{% load static %}

{% block page_header %}
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>HomePage</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock page_header %}


{% load capitalize_title %}
{% block main_content %}
    {% if page_obj %}
        {% for post in page_obj %}
            <div class="post-preview">
                <a href="{{ post.id }}">
                    <h2 class="post-title">
                        {{ post.title|capitalize }}
                    </h2>
                    <h3 class="post-subtitle">
                        {{ post.subtitle|capitalize }}
                    </h3>
                </a>
                <p class="post-meta">Posted by
                    <a href="#"> {{ post.username }} </a>
                    on {{ post.date | date:"F" }} {{ post.date.day }}, {{ post.date.year }}
                </p>
            </div>
            <hr>
        {% endfor %}
        <!-- Pager -->
        <div class="row">
            <div class="col text-center">
                <div class="pagination">
                    {% if page_obj.has_previous %}
                        <a href="?page=1">&laquo;</a>
                    {% endif %}

                    {% for i in paginator.page_range %}
                        {% if page_obj.number == i %}
                            <a href="?page={{ i }}" class="active">{{ i }}</a>
                        {% else %}
                            <a href="?page={{ i }}">{{ i }}</a>
                        {% endif %}
                    {% endfor %}

                    {% if page_obj.has_next %}
                        <a href="?page={{ page_obj.paginator.num_pages }}">&raquo;</a>
                    {% endif %}
                </div>
            </div>
        </div>
    {% else %}
            <div class="post-preview">
                <a href="post.html">
                    <h2 class="post-title">
                        There are no posts here.
                    </h2>
            </div>
    {% endif %}
{% endblock main_content %}
