{% extends 'index.html' %}

{% load static %}

{% load capitalize_title %}
{% block page_header %}
<header class="masthead" style="background-image: url('../{{ post.image }}')">
    <div class="overlay"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-md-10 mx-auto">
                <div class="post-heading">
                    <h1>{{ post.title|capitalize }}</h1>
                    <h2 class="subheading">{{ post.subtitle|capitalize }}</h2>
                    <span class="meta">Posted by
                        <a href="#">{{ post.username }}</a>
                        on {{ post.date | date:"F" }} {{ post.date.day }}, {{ post.date.year }}</span>
                </div>
            </div>
        </div>
    </div>
</header>
{% endblock page_header %}


{% block main_content %}
<link rel="stylesheet" href="{% static 'homepage/content.css' %}">

<div class="markdown-body">
    {{ post.content|safe }}
</div>
{% endblock main_content %}