{% extends 'index.html' %}
{% load static %}

{% block page_header %}
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>Django AuthDev HomPage</h1>
                        {% if form.errors %}
                            <p>帳號或密碼不符合，請再試一次。</p>
                        {% endif %}

                        <form action="" method="post">
                            {% csrf_token %}
                            <input type="text", name='username'>
                            <input type="password", name='password'>

                            {% comment %} {{ form }} {% endcomment %}
                            <div>
                                <input type="submit" value="登入" />
                            </div>
                            <p>還沒有帳號嗎? <a href="{% url 'register' %}">註冊</a></p>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>

{% endblock  %}