{% extends 'index.html' %}
{% load static %}

{% block page_header %}
    <header class="masthead" style="background-image: url('{% static 'img/home-bg.jpg' %}')">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="site-heading">
                        <h1>AuthDev</h1>
                        <h2>註冊</h2>
                        <form style="font-size:15px" action="" method="POST" >
                            {% csrf_token %}
                            <table class="box">
                                {{ form.as_table }}
                            </table>
                            <br/>
                            <input class="btn-success" type="submit" value="確認" />
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </header>
{% endblock  %}