.markdown-body code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    color: #212529;
    background-color: rgba(27,31,35,.05);
    border-radius: 3px;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

.markdown-body img {
    max-width: 100%;
    height: auto;
    border: 1px solid #ddd; /* Gray border */
    border-radius: 4px;  /* Rounded border */
    padding: 5px; /* Some padding */
}

.markdown-body a img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
  }